footer{
  bottom: 0px;
  width: 100%;
  background: #fff;
}
.main-content{
  display: flex;
}
.main-content .box{
  flex-basis: 50%;
  padding: 10px 20px;
}
.box h2{
  color: var(--blue-primary);
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.box .content{
  margin: 20px 0 0 0;
  position: relative;
}
.box .content:before{
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  background: var(--blue-primary);
  top: -10px;
}
.left .content .social{
  margin: 20px 0 0 0;
}
.left .content .social a{
  padding: 0 2px;
}
.left .content .social a span{
  width: 40px;
  height: 40px;
  background: var(--blue-primary);
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.left .content .social a span:hover{
  background: #d1d1d1;
}
.left .content p{
  text-align: justify;
}
.center .content .fas, .fa, .fab{
  font-size: 23px;
  background: var(--blue-primary);
  width: 45px;
  height: 45px ;
  line-height: 45px;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer;
  color: #d1d1d1;
}
.center .content .fas:hover, .fa:hover, .fab:hover{
  background: #d1d1d1;
  color: var(--blue-primary);
}
.center .content .text{
  font-size: 17px;
  font-weight: 500;
  padding-left: 10px;
  color: var(--blue-primary);
}
.center .content .phone{
  margin: 10px 0;
}
.center .content .msg{
  margin-top: 10px;
}
.right form {
  background-color: #d1d1d1;
  padding: 10px;
  border-radius: 10px;
}
.right form input, .right form textarea{
  width: 100%;
  font-size: 17px;
  background: #fff;
  color: var(--blue-primary);
  padding-left: 10px;
  border: none;
  border-radius: 5px;
}
.right form input{
  height: 35px;
}
.right form input:focus,
.right form textarea:focus{
  outline: none;
  outline-color: none;
}
.right form .text{
  font-size: 17px;
  margin-bottom: 2px;
  color: var(--blue-primary);
}
.right form .btn{
  margin-top: 10px;
}
.right form .btn button{
  height: 40px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  background: var(--blue-primary);
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: .3s;
}
.bottom .center{
  padding: 5px;
  font-size: 15px;
  background: #151515;
  text-align: center;
}
.bottom .center span{
  color: #656565;
}
.bottom .center a{
  color: #f12020;
  text-decoration: none;
}
.bottom .center a:hover{
  text-decoration: underline;
}
@media screen and (max-width: 900px){
  footer{
      bottom: 0px;
  }
  .main-content{
      flex-wrap: wrap;
      flex-direction: column;
  }
  .main-content .box{
      margin: 5px 0;
  }
}